{
  "installations": [
    "http://data.mel.cgiar.org",
    "http://datos.pucp.edu.pe",
    "http://opendata.pku.edu.cn",
    "http://research-data.urosario.edu.co",
    "https://archive.data.jhu.edu",
    "https://data.aussda.at",
    "https://data.cifor.org",
    "https://data.gro.uni-goettingen.de",
    "https://data.inrae.fr",
    "https://data.lipi.go.id",
    "https://data.qdr.syr.edu",
    "https://datarepositorium.uminho.pt",
    "https://dataverse.bhp.org.bw",
    "https://dataverse.harvard.edu",
    "https://dataverse.ird.fr",
    "https://dataverse.lib.umanitoba.ca",
    "https://dataverse.lib.unb.ca",
    "https://dataverse.lib.virginia.edu",
    "https://dataverse.library.dal.ca",
    "https://dataverse.library.ualberta.ca",
    "https://dataverse.nl",
    "https://dataverse.no",
    "https://dataverse.scholarsportal.info",
    "https://dataverse.sta.uwi.edu",
    "https://dataverse.tdl.org",
    "https://dataverse.ucla.edu",
    "https://dataverse.unc.edu",
    "https://dataverse.unimi.it",
    "https://dataverse.vtti.vt.edu",
    "https://edatos.consorciomadrono.es",
    "https://heidata.uni-heidelberg.de",
    "https://researchdata.ntu.edu.sg",
    "https://research-data.ifsttar.fr",
    "https://researchdata.nie.edu.sg"
  ],
  "api_response_cache_dir": "/var/www/html/dataverse-metrics/cache",
  "aggregate_output_dir": "/var/www/html/dataverse-metrics",
  "num_months_to_process": 12,
  "month_filter_enabled": false,
  "endpoints": {
    "single": [
      "dataverses/byCategory",
      "datasets/bySubject",
      "../version"
    ],
    "monthly": [
      "dataverses/toMonth",
      "datasets/toMonth",
      "files/toMonth",
      "downloads/toMonth"
    ],
    "monthly_itemized": [
    ]
  },
  "blacklists": {
    "datasets/bySubject": [
      "Not specified",
      "Other"
    ]
  },
  "colors": {
    "dataverses/toMonth": "#CF3636",
    "dataverses/byCategory": [
      "#B22200",
      "#006699"
    ],
    "datasets/toMonth": "#E58433",
    "datasets/bySubject": [
      "#B22200",
      "#006699"
    ],
    "files/toMonth": "#006699",
    "downloads/toMonth": "#B94617"
  },
  "github_repos": [
    "https://github.com/IQSS/dataverse"
  ]
}
