{
  "installations": [
    "http://dataverse.icrisat.org",
    "http://datos.pucp.edu.pe",
    "https://abacus.library.ubc.ca",
    "https://archive.data.jhu.edu",
    "https://dadosabertos.rnp.br",
    "https://dadosdepesquisa.fiocruz.br",
    "https://darus.uni-stuttgart.de",
    "https://data.aussda.at",
    "https://data.cifor.org",
    "https://data.cimmyt.org",
    "https://data.cipotato.org",
    "https://data.crossda.hr",
    "https://data.fz-juelich.de",
    "https://data.goettingen-research-online.de",
    "https://data.ial.edu.sg",
    "https://data.inrae.fr",
    "https://data.lipi.go.id",
    "https://data.mel.cgiar.org",
    "https://data.qdr.syr.edu",
    "https://data.sciencespo.fr",
    "https://data.worldagroforestry.org",
    "https://datos.cedia.edu.ec",
    "https://datos.uchile.cl",
    "https://datarepositorium.uminho.pt",
    "https://datasets.iisg.amsterdam",
    "https://dataverse.asu.edu",
    "https://dataverse.cirad.fr",
    "https://dataverse.csuc.cat",
    "https://dataverse.dartmouth.edu",
    "https://dataverse.fiu.edu",
    "https://dataverse.harvard.edu",
    "https://dataverse.ifdc.org",
    "https://dataverse.iit.it",
    "https://dataverse.ird.fr",
    "https://dataverse.library.ualberta.ca",
    "https://dataverse.lib.umanitoba.ca",
    "https://dataverse.lib.unb.ca",
    "https://dataverse.lib.virginia.edu",
    "https://dataverse.nioz.nl",
    "https://dataverse.nl",
    "https://dataverse.no",
    "https://dataverse.openforestdata.pl",
    "https://dataverse.orc.gmu.edu",
    "https://dataverse.pushdom.ru",
    "https://dataverse.rsu.lv",
    "https://dataverse.scholarsportal.info",
    "https://dataverse.sta.uwi.edu",
    "https://dataverse.tdl.org",
    "https://dataverse.theacss.org",
    "https://dataverse.ucla.edu",
    "https://dataverse.uclouvain.be",
    "https://dataverse.unc.edu",
    "https://dataverse.unimi.it",
    "https://dataverse.vtti.vt.edu",
    "https://dataverse.yale-nus.edu.sg",
    "https://desi.lg-apps.com",
    "https://dorel.univ-lorraine.fr",
    "https://edatos.consorciomadrono.es",
    "https://heidata.uni-heidelberg.de",
    "https://lida.dataverse.lt",
    "https://opendata.pku.edu.cn",
    "https://repositoriopesquisas.ibict.br",
    "https://researchdata.cuhk.edu.hk",
    "https://researchdata.nie.edu.sg",
    "https://researchdata.ntu.edu.sg",
    "https://research-data.ifsttar.fr",
    "https://research-data.urosario.edu.co"
  ],
  "api_response_cache_dir": "/var/www/html/dataverse-metrics/global/cache",
  "aggregate_output_dir": "/var/www/html/dataverse-metrics/global",
  "num_months_to_process": 36,
  "month_filter_enabled": true,
  "endpoints": {
    "single": [
      "dataverses/byCategory",
      "datasets/bySubject",
      "../version"
    ],
    "monthly": [
      "dataverses/toMonth",
      "datasets/toMonth",
      "files/toMonth",
      "downloads/toMonth"
    ],
    "monthly_itemized": [
    ]
  },
  "blacklists": {
    "datasets/bySubject": [
      "Not specified",
      "Other"
    ]
  },
  "colors": {
    "dataverses/toMonth": "#CF3636",
    "dataverses/byCategory": [
      "#B22200",
      "#006699"
    ],
    "datasets/toMonth": "#E58433",
    "datasets/bySubject": [
      "#B22200",
      "#006699"
    ],
    "files/toMonth": "#006699",
    "downloads/toMonth": "#B94617",
    "versions": [
      "#B22200",
      "#006699"
    ],
    "versionsBar" : "#006699"
  },
  "github_repos": [
    "https://github.com/IQSS/dataverse"
  ],
  "user_agent": "DataverseMetrics"
}
