.viz {
    height: 500px;
    margin: 3em;
}

/* http://guides.dataverse.org/en/4.11/style/foundations.html#link-colors */

a {
  color: #337AB7;
}
a:hover {
  color: #23527C;
}
.button {
    float: right;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
    border-color: blue;
    border-width: 3px;
    border-style: outset;
    margin-right: 10px;
    z-index: 25;
    position: relative;}

#title, #subtitle {
	text-align: center;
}
#dvtree {
	background: cornsilk;
    max-height: 250px;
    overflow-y: auto;
}
#dvselect {
	background: aliceblue;
	margin: 50px 50px 0px 50px;
}
body {
	font-family: AntoniaH2;
}
